*,
*:after,
*::before {
    box-sizing: border-box;
}

body {
    /* overflow-x:hidden; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: black;
    min-width: 1100px;
}

button {
    cursor: pointer;
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
}

.modal-content {
    border-radius: 5px;
    background: #fff;
    margin: 2.5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 650px;
    display: flex;
}

.close {
    color: #aaa;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 40px;
    cursor: pointer;
}

.modal__h1 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 30px;
}

#modalInfo {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}
 */


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.1;
    font-weight: normal;
}


h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

/* HEADER */
header {
    padding-top: 7.5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    background-color: #84d42f;
}

header img {
    height: 30px;
    width: 50px;
    float: left;
}

.header {
    width: 100%;
    max-width: 1000px;
}


#a,
#em {
    padding-top: 3px;
    font-size: 17px;
    color: black;
    text-decoration: none;
    text-align: center;
    float: right;
    padding-right: 25px;
    transition: .1s;
}

#a:hover {
    color: white;
    transition: .1s;
}

#em {
    color: blue;
    font-size: 16px;
    float: left;
}

#em:hover {
    text-decoration: underline;
}

/* MAIN */
.container {
    background-color: #efefef;
    width: 100%;
    height: 550px;
}

.container-white {
    background-color: white;
    display: block;
    width: 100%;
    height: 250px;
}

.container-green {
    background-color: #e7ffe3;
    display: block;
    width: 100%;
    height: 550px;
}


.chief__main__image {
    margin-top: -80px;
}

.chief__main__text button {
    margin-top: -100px;
}

.chief {
    display: flex;
    justify-content: space-around;
}

.main {
    padding-top: 90px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

#h2 {
    color: black;
    margin-top: 15px;
    margin-bottom: 50px;
}

.main__button {
    margin-right: 15px;
    font-weight: 600;
    padding: 19px 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    border: 2px solid #4D992E;
    border-radius: 6px;
    transition: .2s;
}


input {
    padding-left: 5px;
    font-size: 16px;
    border: 1px solid black;
    height: 47.5px;
    width: 250px;
    border-radius: 6px;

}

.main__button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.green {
    background: linear-gradient(to bottom, #a2ff3f 0%, #4D992E 100%);
}

.green:hover {
    background: #fff;
    color: #4D992E;
    ;
}


.pod__green {
    margin: 0 auto;
    height: 220px;
    width: 990px;
    background-color: #84d42f;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.forms {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4D992E;
    margin: -240px auto;
    height: 220px;
    width: 1050px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.circle {
    text-align: center;
    margin-top: 100px;
    height: 850px;
}

.circle img {
    margin-top: 50px;
}

.circle p {
    font-size: 20px;
}

#green {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 0;

}

.container__table {
    background-color: #f1f1f1;
    padding-top: 60px;
    text-align: center;
    height: 1150px;
    margin-right: 20px;
}

.container__table input {
    margin-right: 20px;
}

.container__table h2 {
    margin-top: 60px;
    font-size: 30px;
}

.container__table button {
    padding: 11px 15px;
    text-transform: none;
}

.container__table img {
    margin-top: 70px;
}

.mashines {
    display: flex;
}

.cars {
    height: 600px;
}

.cars__icon {
    margin-top: 50px;
}


.pizd__div {
    display: flex;
    justify-content: center;
}

.marks {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.marks__text h3 {
    font-size: 21px;
    margin-top: 30px;
    margin-left: 20px;
}

.mark:nth-child(1) {
    margin-top: 40px;
    margin-left: 70px;
}

.mark:nth-child(2) {
    margin-top: 60px;
    margin-left: 70px;
}

.mark:nth-child(3) {
    margin-top: 80px;
    margin-left: 70px;
}

.marks_and_text {
    display: flex;
    margin-left: -50px;
}

.car__div {
    margin-left: -130px;
}


@media screen and (max-width: 1250px) {
    .mashines {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .marks {
        display: none;
    }

    .dd {
        margin-top: 300px;
    }

    .main-white .icons__gryad {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 900px;
        height: 630px;
    }

    .phones {
        margin-top: 150px;
    }

    .flex__iphones {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-man {
        background-color: #4D992E;
        height: fit-content;
        margin-top: 600px;
    }

    .car__div {
        margin-left: 0;
    }

}

.main-green {
    display: flex;
    justify-content: center;
}


.main-green h2 {
    margin-top: 30px;
}

.main-white {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 506px;
}

.main-white img {
    width: 345px;
    height: 190px;
}

.icons__gryad {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1100px;
    height: 430px;
}

#my__gryad {
    margin-top: 50px;
    text-align: center;
    background-color: white;
}

.flex__iphones {
    display: flex;
    justify-content: center;
}

.flex__iphones img {
    width: 242px;
    height: 498px;
}

.box__phones {
    display: flex;
    justify-content: center;
}

.main-iphone {
    text-align: center;
    color: #4D992E;
    height: 750px;
}

.main-iphone img {
    margin-top: 70px;
}

.phones {
    height: fit-content;
}

.container-man {
    background-color: #4D992E;
    height: fit-content;
}


.main-man {
    background-image: url(images/man.png);
    height: 640px;
    max-width: 1100px;
}

.main-man h1,
.main-man h2,
.main-man h3 {
    color: white;
    text-align: right;
}

.main-man h1 {
    font-size: 40px;
}

.main-man h2 {
    margin-top: 20px;
    font-weight: 600;
}

.main-man h3 {
    font-weight: 400;
    margin-top: 20px;
    font-weight: 400;
    width: 600px;
    text-align: justify;
}

.partner {
    margin: 20px 180px;
    background: none;
    border-color: white;
    color: white;
}

.main-man section {
    width: fit-content;
    margin: -20px 480px;
    font-size: 18px;
}

.main-cart {
    display: flex;
    justify-content: center;
}

.main-cart h2 {
    margin-top: 20px;
}

.first_buy {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.first_buy button {
    height: 50px;
    padding-top: 13px;
}

.rr {
    height: 550px;
}

.head-map {
    background-color: white;
    box-shadow: none;
    border-radius: 20px;
    height: 150px;
    width: 900px;
}

.head-map h1 {
    margin-top: 50px;
}

.pod_head-map {
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid #f1f1f1;

}

.head_map {
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-top: 50px;
}